<div class="container containerPage">

  <header id="header" class="header-1">
    <img src="../assets/css/images/budget_tracker_wordmark.svg" width="700" alt="budgetTrackerLogo"
      style="display: block; margin-left: auto; margin-right: auto; padding-top: 8px;"
      onclick="window.location.href='/overview'" />
  </header>




  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <a class="nav-item nav-link" href="signup">Sign Up</a>
      <a class="nav-item nav-link" href="login">Login</a>
      <a class="nav-item nav-link" href="index">Manage/Add Expenses</a>
      <a class="nav-item nav-link" href="overview">Overview of Expenses</a>
      <a class="nav-item nav-link" href="bills">Bill Pay</a>
      <a class="nav-item nav-link" href="charts">Charts</a>
    </a>

  </nav>



  <div class="jumbotron-fluid jumbotronOverview">



    <div class="row">
      <div class="col">
        <p class="logo"> <img src="../assets/css/images/budget_tracker_logo.svg" width="300" alt="budget tracker logo"
            </p>
        <div class="togetherOverview">
          <h4 style="font-size: 30px"> <strong> It’s all coming together </strong></h4>
          When you’re on top of your money, life is good. <br>
          We help you effortlessly manage your finances <br> in one place.
          </p>
        </div>
      </div>

      <div class="col">
        <p class="lead"> <img src="../assets/css/images/Ipad Pro2_mockup.png" width="600" alt="budget tracker logo">
        </p>
      </div>

    </div>

  </div>



  <hr class="hr-line-grp">
  <h3 class="h3-heading">Bills</h3>

  <ul class="ul-item">
    {{#each bills}}

    <span<li class="line-item"><span class="line-title">Bill Name: </span>{{billName}}</li>
      <li class="line-item"><span class="line-title">Website: </span>{{website}}</li>
      <li class="line-item"><span class="line-title">Date: </span>{{dueDate}}</li>
      <button class="delete-bill" data-id="{{id}}">Delete</button>
      <a href="https://{{website}}/" target="_blank"><button class="pay-bill">Pay Bill  </button></a>
      <hr class="hr-line-grp">
      {{/each}}
  </ul>


</div>
</div>