<div class="container containerPage">

  <header id="header" class="header-1">
    <img src="../assets/css/images/budget_tracker_wordmark.png" width="700" alt="budgetTrackerLogo"
      style="display: block; margin-left: auto; margin-right: auto; padding-top: 8px;" />
  </header>




  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <a class="nav-item nav-link" href="signup">Sign Up</a>
      <a class="nav-item nav-link" href="login">Login</a>
      <a class="nav-item nav-link" href="index">Manage/Add Expenses</a>
      <a class="nav-item nav-link" href="overview">Overview of Expenses</a>
    </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><svg width="1em" height="1em"
          viewBox="0 0 16 16" class="bi bi-search btn-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg></button>
    </form>
  </nav>


  <div class="jumbotron">

      <form id="form-input" class="form-1">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input id="category-name" type="text" class="form-control" placeholder="Category Name" aria-label="Category"
            aria-describedby="basic-addon1">
            <br>
            <input id="category-type" type="text" class="form-control" placeholder="Category Type" aria-label="Category"
            aria-describedby="basic-addon1">
          <div class="dropdown">
            <button id="drop-down-tog" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Select
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" value="budget">Budget</a>
              <a class="dropdown-item" value="cash">Cash</a>
              <a class="dropdown-item" value="savings">Savings</a>
              <a class="dropdown-item" value="expenses">Expenses</a>
            </div>
          </div>


          <div id="exp-input" class="input-group mb-3">
            <input id="expense-name" type="text" class="form-control" placeholder="Expense Name"
              aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <input class="input-group-text form-control" id="basic-addon2">0.00</input>


              <button id="btn-add-expense" class="btn">Add</button>
            </div>
          </div>
        </div>

      </form>

      <div id="dsply-all-ctgy">write code to loop through tables and display
        <div class="panel panel-default col-md-5" style="padding: 0px">
          <div class="panel-heading">
            <h3>Budget!</h3>
          </div>
          <div class="panel-body" id="{{setID}}">

            <div class="category-name-title"><span>{{setcategoryName}}</span></div>

            <ul>
              {{#each expense}}
              {{#unless this.categoryName}}
              <li>
                {{this.id}}<span>.</span> {{this.expense_name.amount}}

                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devour" value="true">
                  <button type="submit" class="btn btn-warning btn-sm">Delete</button>
                </form>
              </li>
              {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</div>



</container>

<script src="index.js"></script>