

<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    console.log("Check")
  var data = google.visualization.arrayToDataTable([
    ['Task', 'Hours per Day'],
    {{#each expenses}}
        {{#if exp}}
    [`{{categoryName}}`,{{amount}}],
    
    {{/if}}
       {{/each}}
  ]);

  var options = {
    title: 'My Daily Activities'
  };

  var chart = new google.visualization.PieChart(document.getElementById('piechart'));

  chart.draw(data, options);
}

</script>



<div class="container containerPage">

  <header id="header" class="header-1">
    <img src="../assets/css/images/budget_tracker_wordmark.svg" width="700" alt="budgetTrackerLogo"
      style="display: block; margin-left: auto; margin-right: auto; padding-top: 8px;" onclick="window.location.href='/overview'" />
  </header>




  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <a class="nav-item nav-link" href="signup">Sign Up</a>
      <a class="nav-item nav-link" href="login">Login</a>
      <a class="nav-item nav-link" href="index">Manage/Add Expenses</a>
      <a class="nav-item nav-link" href="overview">Overview of Expenses</a>
      <a class="nav-item nav-link" href="bills">Bill Pay</a>
    </a>
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><svg width="1em" height="1em"
          viewBox="0 0 16 16" class="bi bi-search btn-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg></button>
    </form>
  </nav>



  <div class="jumbotron-fluid jumbotronOverview">



      <div class="row">
        <div class="col">
          <p class="logo"> <img src="../assets/css/images/budget_tracker_logo.svg" width="300" alt="budget tracker logo"
              </p>
              <div class = "togetherOverview">
                        <h4 style="font-size: 30px"> <strong> It’s all coming together </strong></h4>
        When you’re on top of your money, life is good. <br>
        We help you effortlessly manage your finances <br> in one place.
          </p>
          </div>
        </div>

        <div class="col">
          <p class="lead"> <img src="../assets/css/images/Ipad Pro2_mockup.png" width="600" alt="budget tracker logo"> </p>
        </div>

    </div>





  </div>

<div id"container">

<h2>HELLO</h2>


    
    
  </div>


 

  <!-- <div id="pie-chart" class="pie">Pie Chart</div> -->
  {{!-- <div id="expenses-chart">Expenses Chart</div>
  <div id="pie-chart" class="pie">Pie Chart</div> --}}


  <div id="expense-output">
    <h3>Expenses</h3>
    <ul class="ul-item">
      {{#each expenses}}
        {{#if exp}}
        <li>category: {{categoryName}}</li>
          <li>expenseName: {{expenseName}}</li>
          <li>amount: {{amount}}</li>
          <li>Date: {{date}}</li>
          <button class="delete-expense" data-id= "{{id}}">Delete</button>
        {{/if}}
       {{/each}}
    </ul>
  </div>

  <div id="income-output">
    <h3>Income</h3>
    <ul class="ul-item">
      {{#each expenses}}
        {{#if cash}}
        <li>category: {{categoryName}}</li>
          <li>expenseName: {{expenseName}}</li>
          <li>amount: {{amount}}</li>
          <li>Date: {{date}}</li>
          <button class="delete-expense" data-id= "{{id}}">Delete</button>
        {{/if}}
       {{/each}}
    </ul>
  </div>

  <div id="savings-output">
    <h3>Savings</h3>
    <ul class="ul-item">
      {{#each expenses}}
        {{#if save}}
        <li>category: {{categoryName}}</li>
          <li>expenseName: {{expenseName}}</li>
          <li>amount: {{amount}}</li>
          <li>Date: {{date}}</li>
          <button class="delete-expense" data-id= "{{id}}">Delete</button>
        {{/if}}
       {{/each}}
    </ul>
  </div>

  <div id="budget-output">
    <h3>Budget</h3>
    <ul class="ul-item">
      {{#each expenses}}
        {{#if budget}}
        <li>category: {{categoryName}}</li>
          <li>expenseName: {{expenseName}}</li>
          <li>amount: {{amount}}</li>
          <li>Date: {{date}}</li>
          <button class="delete-expense" data-id= "{{id}}">Delete</button>
        {{/if}}
       {{/each}}
    </ul>
  </div>

<div id="piechart" style="width: 900px; height: 500px;"></div>

</div>