<div class="container containerPage">

  <header id="header" class="header-1">
    <img src="../assets/css/images/budget_tracker_wordmark.svg" width="700" alt="budgetTrackerLogo"
      style="display: block; margin-left: auto; margin-right: auto; padding-top: 8px;" onclick="window.location.href='/overview'" />
  </header>




  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <a class="nav-item nav-link" href="signup">Sign Up</a>
      <a class="nav-item nav-link" href="login">Login</a>
      <a class="nav-item nav-link" href="index">Manage/Add Expenses</a>
      <a class="nav-item nav-link" href="overview">Overview of Expenses</a>
    </a>
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><svg width="1em" height="1em"
          viewBox="0 0 16 16" class="bi bi-search btn-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg></button>
    </form>
  </nav>



  <div class="jumbotron-fluid jumbotronOverview">


{{!GAINES AND TOM.. ENTER PIE CHARTS INTO THIS JUMBOTRON}}


    </div>





<table style="width:100%">
  <tr>
    <td>
      <div class="card" style="width: 18rem;">
  <div class="card-body" id = "bills-output">
    <h5 class="card-title"> {{#each categories }} </h5>
    <h6 class="card-subtitle mb-2 text-muted">Bill Name: {{billName}} </h6>
    <p class="card-text">Due Date: {{dueDate}} </p>
    <a href="#" class="card-link"> Pay Bill {{website}} </a>
    <a href="#" class="card-link">Another link</a>
          {{/each}}
  </div>
</div>


  <div id="bills-output">
    <ul>
      {{#each bills}}
        <li>
          <p>Bill Name: {{billName}}</p>
          <p>Website: {{website}}</p>
          <p>Date: {{dueDate}}</p>
          <button class="delete-bill" data-id= "{{id}}">Delete</button>
        </li>
      {{/each}}
    </ul>
  </div>

    </td>
    {{!-- <td>
            <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    </td>
    <td>
            <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    </td>
  </tr>
  <tr>
  </tr>
</table> --}}


  </div>

<h2>HELLO</h2>

  {{!-- <div id="bills-output">
    <ul>
      {{#each bills}}
        <li>
          <p>Bill Name: {{billName}}</p>
          <p>Website: {{website}}</p>
          <p>Date: {{dueDate}}</p>
          <button class="delete-bill" data-id= "{{id}}">Delete</button>
        </li>
      {{/each}}
    </ul>
  </div> --}}


  <!-- <div id="pie-chart" class="pie">Pie Chart</div> -->
  {{!-- <div id="expenses-chart">Expenses Chart</div>
  <div id="pie-chart" class="pie">Pie Chart</div> --}}

  {{!-- <div id="expense-output">
    <ul>
      {{#each expenses}}
        <li>
          <p>expenseName: {{expenseName}}</p>
          <p>amount: {{amount}}</p>
          <p>Date: {{date}}</p>
          <p>category: {{category}}</p>
        </li>
      {{/each}}
    </ul>
  </div> --}}